@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="\Image\logo.jpg" alt="Logo" height="180px" />
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-2">"Cada quien con sus tiempos, los procesos son personales"</h3>
    <p>
        
        
        Nuestro equipo de profesores saben lo que sucede en la sala de clases, por lo que como equipo, no buscamos el dar más estrés al estudiante con trabajo en casa.

        Buscamos conocerlos a profundidad durante sus estudios y fortalecer aquellos problemas que le impidan el aprender con distintas herramientas estratégicas adaptadas al niño,  siendo facilitadores que orienten el proceso educativo guiando y apoyando a todos los jóvenes que lo requieran.
    </p>
</div>
